<h3>Schritt 3: Krankheitswahl</h3>
<formly-form [form]="notificationService.diseaseChoiceGroup" [model]="notificationService.diseaseChoiceModel" [fields]="fieldConfig.diseaseChoiceFields" />

<ng-template #actionsLeft>
  <button mat-stroked-button (click)="navigation.reset(); notificationService.resetForm()">
    Reset
  </button>
  <button mat-stroked-button (click)="navigation.previous()" [disabled]="!navigation.canGoToPrevious()">
    Zurück
  </button>
</ng-template>

<ng-template #actionsRight>
  <button mat-stroked-button (click)="navigation.next()" [disabled]="!navigation.canGoToNext()">
    Weiter
  </button>
</ng-template>