<mat-form-field>
  <mat-label>Step 6 Input</mat-label>
  <input matInput [formControl]="formService.getStepControl('step6')" placeholder="Enter text for step 6" />
  @if (formService.getStepControl('step6').hasError('required')) {
    <mat-error>This field is required</mat-error>
  }
</mat-form-field>

<ng-template #actionsLeft>
  <button mat-stroked-button (click)="navigation.reset()">
    Reset
  </button>
  <button mat-stroked-button (click)="navigation.previous()" [disabled]="!navigation.canGoToPrevious()">
    Previous
  </button>
</ng-template>

<ng-template #actionsRight>
  <button mat-flat-button color="primary" (click)="messageService.showFormData()" [disabled]="!formService.isFormValid()">
    Submit
  </button>
</ng-template>
