/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hljs-ln-line.hljs-ln-code {
  padding-left: 16px;
}

.mat-toolbar.mat-primary {
  z-index: 2 !important;
}

.code-snippet {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 10px;
  display: block;
}
